<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Layout</title>
</head>

<body>
  <div class="container">
    <header>
      <h1>Layout</h1>
    </header>

    <aside>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contacts">Contacts</a></li>
      </ul>
    </aside>

    <main>
      <p>Welcome to my website!</p>
    </main>

    <footer>
      &copy; Copyright 2021-2022 Inglorious Coderz
    </footer>
  </div>  
</body>
</html>