:root {
  --default-bg: aquamarine;
}

html, body, .container {
  height: 100%;
}

body, h1 {
  margin: 0;
}

.container {
  background-color: var(--default-bg);
  padding: 1rem;
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

.container > * {
  padding: 1rem;
}

header {
  background-color: coral;
  grid-area: header;
}

aside {
  background-color: cornflowerblue;
  grid-area: aside;
}

main {
  background-color: lightsteelblue;
  grid-area: main;
}

footer {
  background-color: mediumorchid;
  grid-area: footer;
}